{% extends './base.html' %}

{% block content %}
    {% block theme %}
    {% endblock %}

    {% block posts %}
        {% for post in posts %}
            {% include "./post.html" %}
        {% endfor %}
    {% endblock %}

    <!-- Pagination -->
    <div>
        {% if is_paginated and posts.count >= 5 %}
            <ul class="pagination justify-content-center mb-4">
                {% if page_obj.has_previous %}
                    <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li><span class="hover-off">&laquo;</span></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li><b><span class="page-link">{{ i }} </b><span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li><span class="hover-off">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}