{% extends './all_posts.html' %}

{% block posts %}
    {% if drafts_count == 0 %}
        <div class="card my-4">
                <div class="card-header">
                <h5 class="card-title"> Drafts </h5>

                </div>            
            <div class="card-body">
                <p class="card-text">No drafts.</p>
            </div>
        </div>
    {% endif %}

    {% for post in posts %}
        {% if post.author == request.user %}
            {% include "./post.html" %}
        {% endif %}
    {% endfor %}
{% endblock %}