{% extends './base.html' %}

{% block content %}
<div class="card my-4">
    <img class="card-img-top" src="http://placehold.it/550x300" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
            {% if user.is_authenticated and post.author == user %}
                {% if post.published_date %}
                    <a class="btn btn-primary" href="" data-toggle="modal" data-target="#delete_modal">DELETE</a>
                    <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">EDIT</a>
                {% else %}
                    <a class="btn btn-primary" href="" data-toggle="modal" data-target="#delete_modal">DELETE</a>
                    <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">PUBLISH</a>
                    <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">EDIT</a>
                {% endif %}
            {% endif %}
    </div>
    <div class="card-footer text-muted">
        {% if post.published_date == null %}
            Created {{ post.created_date }} by {{ post.author }}
        {% else %}
            Posted {{ post.published_date }} by {{ post.author }}
        {% endif %}
    </div>
</div>
<!-- delete post modal window -->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-25 p-3" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Deleting the post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="{% url 'post_delete' pk=post.pk %}">Yes</a>
                <a class="btn btn-primary" href="" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block widget %}
    {% if entries.count >= 2 %}
        <div class="card my-4">
            <h5 class="card-header">Other in this theme:</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            {% for e in entries %}
                                {% if e.pk != post.pk  %}
                                    {% url 'post_detail' pk=e.pk as post_detail %}
                                        <li>
                                            <a href="{{ post_detail }}"> {{ e.title }} </a>
                                        </li>
                                    {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}